.root{
	-fx-padding:10px;
	-fx-alignment:top-center;
}

#title{
	-fx-font-size:3.0em;
	-fx-font-family:"Arial Black";
}

Label, RadioButton, CheckBox{
	-fx-font-size:1.5em;
}

#start{
	-fx-font-size:2.0em;
	-fx-pref-width:300px;
}

Separator{
	-fx-padding:10px;
}

#gamebox{
	-fx-alignment:center;
}